########################################
####### Project specific folders #######
########################################
data/*
# Including small datasets used for unit testing NavData objects
!data/unit_test/

# development folder
dev/*
!dev/.gitkeep
gnss_lib_py_dev/

# results folder
results/*
!results/.gitkeep

########################################
##### Project specific file types ######
########################################

# ignore downloaded csv files in notebook tutorials
*.csv
!data/unit_test/*/*.csv
!notebooks/tutorials/myreceiver.csv
!data/unit_test/google_decimeter_2023/2023-09-07-18-59-us-ca/pixel7pro/device_gnss.csv

# Ignore downloaded precise ephimerides files by default
*.sp3
*.SP3
*.clk
*.CLK

# Include unit test files for precise ephimerides
!data/unit_test/*/*.sp3
!data/unit_test/*/*.SP3
!data/unit_test/*/*.clk
!data/unit_test/*/*.CLK

# Ignore NMEA files by default
*.nmea
# Include unit test NMEA files
!data/unit_test/*/*.nmea

# Ignore downloaded broadcast ephimerides files by default
*.*n
*.*o
*.*g
*.rnx
# Include unit test files for broadcast ephemerides
!data/unit_test/*/*/*.*n
!data/unit_test/*/*/*.*o
!data/unit_test/*/*/*.*g
!data/unit_test/*/*/*.rnx

########################################
##### Common Python and IDE files ######
########################################

#Excluding VS Code files
.vscode/*
*/.vscode/

#Excluding PyCharm files
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
